.out-1{
    margin: auto;
    width: 200px;
    height: 100px;
    background-color: orangered;
}
.b-1{
    margin: auto;
    width: 100px;
    height: 50px;
    background-color: red;
}
.out-2{
    margin: auto;
    width: 200px;
    height: 100px;
    background-color:royalblue;
}
.b-2{
    margin: auto;
    width: 100px;
    height: 50px;
    background-color:blue;
}
.out-3{
    margin: auto;
    width: 200px;
    height: 100px;
    background-color:darkgreen;
}
.b-3{
    margin: auto;
    width: 100px;
    height: 50px;
    background-color:chartreuse;
}
.out-4{
    margin: auto;
    width: 200px;
    height: 100px;
    background-color:crimson;
}
.b-4{
    margin: auto;
    width: 100px;
    height: 50px;
    background-color:cyan;
}
.out-6{
    margin: auto;
    width: 200px;
    height: 100px;
    background-color:crimson;
}
.b-6{
    margin: auto;
    width: 100px;
    height: 50px;
    background-color:darkcyan;
}
.out-8{
    margin: auto;
    width: 200px;
    height: 100px;
    background-color:darkorchid;
}
.b-8{
    margin: auto;
    width: 100px;
    height: 50px;
    background-color:darkmagenta;
}
.out-10{
    margin: auto;
    width: 200px;
    height: 100px;
    background-color:darkorchid;
}
.b-10{
    margin: auto;
    width: 100px;
    height: 50px;
    background-color:darkmagenta;
}
.out-11{
    margin: auto;
    width: 200px;
    height: 100px;
    background-color:gold;
}
.b-11{
    margin: auto;
    width: 100px;
    height: 50px;
    background-color:indigo;
}
.out-12{
    margin: auto;
    width: 200px;
    height: 100px;
    background-color:gold;
}
.b-12{
    margin: auto;
    width: 100px;
    height: 50px;
    background-color:lightcoral;
}
.out-13{
    margin: auto;
    width: 200px;
    height: 100px;
    background-color:magenta;
}
.b-13{
    margin: auto;
    width: 100px;
    height: 50px;
    background-color:lightcoral;
}
.out-14{
    margin: auto;
    width: 200px;
    height: 100px;
    background-color:tan;
}
.b-14{
    margin: auto;
    width: 100px;
    height: 50px;
    background-color:teal;
}
.out-15{
    margin: auto;
    width: 200px;
    height: 100px;
    background-color:yellowgreen;
}
.b-15{
    margin: auto;
    width: 100px;
    height: 50px;
    background-color:yellow;
}